.company_list {
    display: flex;
    padding: 25px;
    flex-direction: column;
}

.company_logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

mat-icon {
    cursor: pointer;
    padding: 0 5px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_button {
    margin: 0 10px;
}

td {
    padding-right: 15px !important;
}

table {
    width: 100%;
}
